/* html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   min-height: 100vh;
   background-color: #F7F9FC;
   font-family: system, -apple-system, BlinkMacSystemFont, sans-serif;
   font-size: 20px;
   color: #5d6494;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 } */

h2 {
    font-weight: bolder;
    border: solid;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 15%;
    text-align: center;
}

#c-container {
    width: 220px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.box {
    position: absolute;
    width: 220px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow ease 1s;
    transition: -webkit-box-shadow ease 1s;
    transition: box-shadow ease 1s;
    transition: box-shadow ease 1s, -webkit-box-shadow ease 1s;
}



.icon {
    position: relative;
    margin-top: 8px;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
    will-change: transform;
}

.icon_bg {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid rgba(225, 227, 232, 0.18);
    -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    box-shadow: 1px 8px 4px 2px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
    will-change: transform;
}

.title {
    position: relative;
}

.super-box:hover .box {
    /*   border: 1px solid rgba(225, 227, 232, 0.18); */
    -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
}

.super-box:hover .icon_bg {
    -webkit-transform: translateY(-32px) scale(6);
    transform: translateY(-32px) scale(6);
}

.super-box:hover .icon {
    -webkit-transform: translateY(-48px) scale(1.4);
    transform: translateY(-48px) scale(1.4);
}

.super-box {
    width: 220px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.text {
    position: relative;
    top: -32px;
    width: 200px;
    margin-top: 0%;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
}

.super-box:hover .text {
    opacity: 0;
    -webkit-transform: translateY(-4px) scale(.8);
    transform: translateY(-4px) scale(.8);
}

.box::after {
    content: "• Switching on a fan \aTransfer of energy from the chemical store of a power supply to the kinetic store of a fan motor";
    position: absolute;
    white-space: pre-wrap;
    width: 170px;
    top: 111px;
    opacity: 0;
    font-size: 13px;
    color: #5d6494;
    line-height: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
}

.box-h::after {
    content: "• Boiling water in a kettle \a Transfer of energy from the internal store of a heating element to the internal store of water molecules";
}

.box-m::after {
    content: "• Pushing a trolley \a Transfer of energy from the chemical store of a person to the kinetic store of a trolley";
}

i .box-p::after {
    content: "• Baking a caken an oven (electromagnetic) \a Transfer of energy from the internal store of a heating element to the chemical store of a cake mixture ";
}

.super-box:hover .box::after {
    opacity: 1;
}

.dr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
}

#Shape {
    height: auto;
    width: 40%;
    margin-left: 30%;
}

@media only screen and (max-width: 1201px){
  .box{
      
  }
}