body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: url("/Images/Lab.jpg") no-repeat center fixed; */
    /* background-size: cover; */
}

#container {
    aspect-ratio: 16 / 9;
    width: 100vw;
}

#main {
    margin-top: 2%;
    display: inline-flex;
    align-items: center;
    /* justify-content: center; */
}

#L1 {
    display: flex;
    /* margin-right: 10%; */
    /* background-color: aqua; */
}

#borderL1 {
    border-style: solid;
    border-right: 0;
    border-top: 0;
    margin-top: 11%;
    padding-right: 80%;
    display: inline-flex;
    width: 30%;
    height: 20%;
}

#L2 {
    display: flex;
    /* background-color: blue; */
}

#circle {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 0;
}

.engy-o-txt {
    margin-top: 15%;
}

#energyamt-R2 {
    margin-bottom: 10%;
}

/* #borderL2 {
    border-style: solid;
    border-right: 0;
    border-top: 0;
    margin-top: 11%;
    padding-right: 80%;
    padding-bottom: 95%;
    display: inline-flex;   
    width: 30%;
    height: 20%;
} */

#border2L {
    border-style: solid;
    border-right: 0;
    border-top: 0;
}

#Arrow {
    display: flex;
}

.hint2s2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

#bordero {
    border-style: outset;
    border-color: black;
    padding: 60px;
}

#unitsamnt {
    margin-top: 100px;
    padding-left: 0;
}

#unitsamnt li {
    margin-bottom: 10px;
    text-align: center;
}

#unit {
    margin: 0;
    margin-left: 4%;
}

#unit li {
    border-style: solid;
    padding: 8px;
    background-color: white;
}

#arw-in {
    position: relative;
    top: 0;
    top: 0;
    right: 0;
    left: 0;
    /* width: 220px; */
    height: auto;
    /* margin: 0 10px 90px auto; */
    z-index: 1;
    text-align: center;
    /* margin: 7% 0 7% 7%; */

}

#arw-out {
    text-align: center;
}

#system {
    justify-content: center;
    margin: 10%;

}

.system {
    /* width: 100%; */
    margin: 20%;
    text-align: center;
    justify-content: center;
}

#spacing {
    border-top: dotted;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

#symbols {
    text-align: center;
    font-weight: bold;

}

.center {
    display: block;
    margin-left: 5px;
    width: 100%;
    text-align: center;
}

#legend-T{
    margin-left: 38%;
    text-align: left;
}

.SNL, .SNR {
    margin-right: 2px;
}

.energy-in {
    display: block;
    margin-top: 50px;
    margin-left: 30%;
    /* margin-right: auto; */
    width: 150px;
    transform: rotate(45deg);

}

.energy-out {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    transform: rotate(45deg);

}

.button-check {
    display: flex;
    justify-content: center;
}

#reply {
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
}

#check {
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.Lbox {
    padding-left: 0%;
}



#book {
    background-color: rgb(192, 10, 10);
    border: solid;
    width: 100px;
    height: 30px;
    margin-bottom: 1%;
}

#floor {
    background-color: rgb(255, 251, 19);
    /* border: solid; */
    width: 100px;
    height: 30px;
    margin-bottom: 1%;
}

/* a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
} */

.hint {
    width: 50%;
    height: 55px;
    border-radius: 8%;
    border-color: white;
    margin-left: 30%;

}

.hintcol {
    margin: auto;
}

.eng-box {
    /* width: 1px; */
    border-style: solid;
    padding: 6px;
    background-color: white;
}



.engy-boxes {
    /* margin-top: 500px; */
    /* margin-left: 30%; */
    /* margin-right: auto; */
    /* transform: rotate(45deg); */
}

#transfer-box {
    justify-content: center;
    padding-left: 0px;
}

#transfer-box-out{
    padding-left: 10px;
}

.carou-hint1,
.carou-hint2,
.carou-hint3,
.carou-hint4 {
    background-color: rgb(170, 209, 243);
    width: 100%;
    height: 100px;
    text-align: center;

}

#carouselHints {
    margin-left: auto;
    display: none;

}

.carousel-inner {
    border-radius: 10px;
    border-style: outset;
    border-color: rgb(157, 157, 157);
}

.letter-O {
    width: 100%;
}

.O-size {

    padding: 0;
}

.trans-in {
    padding-right: 1%;
}

.trans-out {
    padding-left: 1%;
}

.lables {
    margin-top: 30px;
}

.push {
    margin-bottom: 40px;
}

.final-R {

    text-align: end;
}

.signs {
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    font-size: 50px;
}

.head5 {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* different sizing for different screen size */

@media only screen and (max-width: 1400px) {


    #unit {
        margin-left: 4px;
    }

    #unit li {
        padding: 6px;
    }

    #bordero {
        padding: 50px;
    }

    #unitsamnt {
        margin-top: 70px;
        padding-left: 0;
    }

    #symbols {
        width: 20%;
    }

    .eng-box{
        padding: 5px;
    }

    .center {
        display: block;
        margin-left: 7px;
        width: 100%;
        text-align: center;
    }

    .SNL, .SNR {
        text-align: end;
        /* margin-right: 0px; */
    }

    #symbols {
        text-align: left;
        font-weight: bold;
        margin-left: 1%;
    }
    #legend-T{
        margin-left: 28%;
            text-align: left;
        }

    .Lbox2{
        padding-right: 18px;
    }
}


@media only screen and (max-width: 1201px) {
    #bordero {
        padding: 35px;
    }

    #unit {
        margin-left: 3px;
    }

    #unit li {
        padding: 6px;
    }

    .energy-in {
        display: block;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        transform: rotate(45deg);
    }

    .energy-out {
        display: block;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        transform: rotate(45deg);
    }

    #unitsamnt {
        margin-top: 50px;
        margin-right: 10px;
        padding-left: 0;
    }

    #symbols {
        width: 11%;
    }
}


/* ARROW */

.arrow-1 {
    width: 100px;
    height: 30px;
    display: flex;
    margin-bottom: 10%;
}

.arrow-1:before {
    content: "";
    background: currentColor;
    width: 15px;
    clip-path: polygon(0 10px, calc(100% - 15px) 10px, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, calc(100% - 15px) calc(100% - 10px), 0 calc(100% - 10px));
    animation: a1 1.5s infinite linear;
}

@keyframes a1 {

    90%,
    100% {
        flex-grow: 1
    }
}